[submodule "chibios_svn_mirror"]
	path = ext/chibios_svn_mirror
	url = https://github.com/alex31/chibios_svn_mirror.git
	branch = stable_20.3.x_with_ext_and_local_fixes
[submodule "chibios_enac_various_common"]
	path = ext/chibios_enac_various_common
	url = https://github.com/alex31/chibios_enac_various_common.git
[submodule "ext/STMems_Standard_C_drivers"]
	path = ext/STMems_Standard_C_drivers
	url = https://github.com/STMicroelectronics/STMems_Standard_C_drivers.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/etl"]
	path = ext/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "ext/-b"]
	path = ext/-b
	url = https://github.com/alex31/frozen.git
[submodule "ext/frozen"]
	path = ext/frozen
	url = https://github.com/alex31/frozen.git
	branch = init_from_string_view
[submodule "ext/compile-time-regular-expressions"]
	path = ext/compile-time-regular-expressions
	url = https://github.com/alex31/compile-time-regular-expressions.git
	branch = shadow_fixe
